
<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Event Name</th>
            <th scope="col">Vendor Name</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Date Created</th> 
            <th scope="col"> </th>
            <th scope="col"><div class="addBtn" *ngIf="checkifHR()">
                    <a  class="button fancy-button"><i class="material-icons">note_add</i></a> 
            </div></th>
          </tr>
        </thead>
        <tbody *ngFor="let event of events.data; index as i">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{event.name}}</td>
            <td>{{event.vendorname}}</td>
            <td>
                <div *ngIf="!event.confirmeddate">
                        {{event.proposeddate1 | date}}<br>{{event.proposeddate3 | date}}<br>{{event.proposeddate3 | date}}
                </div>
                <div  *ngIf="event.confirmeddate">
                    {{event.confirmeddate}}
                </div>
            </td>
            <td>{{event.status}}</td>
            <td>{{event.createdDate | date}}</td>
            <td><button type="button" class="btn btn-primary">View</button></td>
            <td></td>
          </tr>
        </tbody>
      </table>
